.main {
  max-width: 400px;
}

.container {
  padding: 0 12px;
}

.headerWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 16px 0;
}

.title {
  color: #333;
  font-size: 24px;
}

.dateInfo {
  margin: 8px 0;
}

.btnWrapper {
  display: flex;
  flex-direction: row;
  column-gap: 40px;
  row-gap: 16px;
  flex-wrap: wrap;
  margin: 16px 0;
}

.wordWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: space-evenly;
  margin: 16px 0;
}

.drawBtnWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px 0;
}

.drawBtn {
  text-align: center;
  border-radius: 24px;
  color: var(--color-gold);
  background-color: var(--color-red);
  border: 0;
  font-size: 16px;
  padding: 8px 48px;
  cursor: pointer;
}

.drawBtnSmTxt {
  margin-left: 4px;
  font-size: 12px;
}
