.btn {
  width: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  font-size: 16px;
  color: #444444;
}




.icon {
  color: rgb(77, 189, 226);
}